-r https://raw.githubusercontent.com/opensafely-core/python-docker/main/requirements.in

# dev tools
black
bump2version
flake8
flake8-builtins
flake8-implicit-str-concat
isort
mypy
pytest
types-setuptools